<app-home-page-header [showAuth]="false"></app-home-page-header>
<div class="cont">
  <div class="signin">
    <!-- Signup Form -->
    <div class="signin__card" *ngIf="currentCard === 'signup'">
      <h1 class="signin__card__title">Create your account</h1>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- Name -->
        <input 
          formControlName="name" 
          class="signin__card__input" 
          type="text" 
          placeholder="Name" 
          required
          (blur)="name?.markAsTouched()"
        >
        <div *ngIf="name?.touched && name?.invalid" class="error-text">
          <small *ngIf="name?.hasError('required')">Name is required.</small>
        </div>
    
        <!-- Surname -->
        <input 
          formControlName="lastname" 
          class="signin__card__input" 
          type="text" 
          placeholder="Surname" 
          required
          (blur)="lastname?.markAsTouched()"
        >
        <div *ngIf="lastname?.touched && lastname?.invalid" class="error-text">
          <small *ngIf="lastname?.hasError('required')">Surname is required.</small>
        </div>
    
        <!-- Email -->
        <input 
          formControlName="email" 
          class="signin__card__input" 
          type="email" 
          placeholder="Email" 
          required
          (blur)="email?.markAsTouched()"
        >
        <div *ngIf="email?.touched && email?.invalid" class="error-text">
          <small *ngIf="email?.hasError('required')">Email is required.</small>
          <small *ngIf="email?.hasError('invalidEmail')">Email is Invalid.</small>
        </div>
    
        <!-- Password -->
        <input 
          formControlName="password" 
          class="signin__card__input" 
          type="password" 
          placeholder="Password" 
          required
          (blur)="password?.markAsTouched()"
        >
        <div *ngIf="password?.touched && password?.invalid" class="error-text">
          <small *ngIf="password?.hasError('required')">Password is required.</small>
          <small *ngIf="password?.hasError('minlength')">Password must be at least 6 characters long.</small>
          <small *ngIf="password?.hasError('passwordComplexity')">
            Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.
          </small>
        </div>
    
        <!-- Confirm Password -->
        <input 
          formControlName="confirmPassword" 
          class="signin__card__input" 
          type="password" 
          placeholder="Confirm Password" 
          required
          (blur)="confirmPassword?.markAsTouched()"
        >
        <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid" class="error-text">
          <small *ngIf="confirmPassword?.hasError('required')">Confirm Password is required.</small>
        </div>
        <div *ngIf="confirmPassword?.touched && signupForm.hasError('passwordMismatch')" class="error-text">
          <small>Passwords do not match.</small>
        </div>
    
        <!-- Date -->
        <input 
          formControlName="date" 
          class="signin__card__date" 
          type="date" 
          required
          (blur)="date?.markAsTouched()"
        >
        <div *ngIf="date?.touched && date?.invalid" class="error-text">
          <small *ngIf="date?.hasError('required')">Date is required.</small>
        </div>
    
        <!-- Terms -->
        <div class="signin__card__checkbox">
          <input 
            class="signin__card__checkbox__input" 
            formControlName="termsAccepted" 
            type="checkbox" 
            required
            (blur)="termsAcceptedField?.markAsTouched()"
          >
          <p class="signin__card__checkbox__text">I agree to terms and conditions</p>
        </div>
        <div *ngIf="termsAcceptedField?.touched && termsAcceptedField?.invalid" class="error-text">
          <small>You must agree to the terms and conditions to register.</small>
        </div>
    
        <!-- Submit Button -->
        <button class="signin__card__signup__button" type="submit">Sign Up</button>
        <button class="signin__card__cancel__button" type="button" routerLink="/get-start">Cancel</button>
      </form>
    </div>
    
    <!-- Verification Card -->
    <div class="signin__card signin__card1" *ngIf="currentCard === 'verification'">
      <h1 class="signin__card__title">A verification code has been sent to your mail n***gmail.com</h1>
      <form (ngSubmit)="verifyOtp()">
        <input class="signin__card__input" type="text" placeholder="Enter verification code" [(ngModel)]="otp" name="otp" required>
        <button class="signin__card__signup__button" type="submit">Verify and Sign up</button>
        <button class="signin__card__cancel__button" type="button" (click)="goToCard('signup')">Cancel</button>
      </form>
    </div>
    
    <!-- Success Card -->
    <div class="signin__card signin__card2" *ngIf="currentCard === 'success'">
       <mat-icon class="signin__card__success">check</mat-icon>
      <h1 class="signin__card__title">Congratulations!!!<br/> You have successfully created your profile</h1>
      <button class="signin__card__signup__button" type="button" (click)="onNextClick()">Next</button>
    </div>
  </div>
</div>
