<div class="cont">
    <div class="footer">
        <div class="footer__firstColumn">
            <img class="footer__firstColumn__logo" routerLink="" src="../../../assets/footerLogo.png" alt="">
            <p class="footer__firstColumn__text">InfluZone is a platform that connects influencers and businesses for advertising collaborations. Both influencers and businesses can create accounts, post offers, and find the right partnerships. Our goal is to make influencer marketing simple, efficient, and accessible for everyone.</p>
        </div>

        <div class="footer__secondColumn">
            <h1 class="footer__secondColumn__title">Navigation</h1>
            <ul class="footer__secondColumn__list">
                <li><a routerLink="/" fragment="banner">Home</a></li>
                <li><a routerLink="/" fragment="forInfluencers">For Influencers</a></li>
                <li><a routerLink="/" fragment="forCustomers">For Customers</a></li>
                <li><a routerLink="/" fragment="howItWorks">How it works</a></li>
                <li><a routerLink="/" fragment="whyChooseInfluZone">Why Choose InfluZone</a></li>
                <li><a routerLink="/" fragment="F.A.Q">F.A.Q</a></li>
                <li><a href="/get-start">Get started</a></li>
            </ul>
        </div>
        <div class="footer__thirdColumn">
            <h1 class="footer__thirdColumn__title">Social</h1>
            <div class="footer__thirdColumn__icons">
                <img src="../../../assets/youtubeIcon.png" alt="youtubeIcon">
                <img src="../../../assets/facebookIcon.png" alt="facebookIcon">
                <img src="../../../assets/instagramIcon.png" alt="instagramIcon">
                <img src="../../../assets/tiktokIcon.png" alt="tiktokIcon">
            </div>
        </div>
    </div>
    <h1 class="c">InfluZone © 2024 / All right reserved</h1>
</div>