<div class="cont">
    <div class="footer">
        <div class="footer__firstColumn">
            <img class="footer__firstColumn__logo" routerLink="" src="../../../assets/footerLogo.png" alt="">
            <p class="footer__firstColumn__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <div class="footer__secondColumn">
            <h1 class="footer__secondColumn__title">Navigation</h1>
            <ul class="footer__secondColumn__list">
                <li>Home</li>
                <li>Notification</li>
                <li>Add a post</li>
                <li>Order list</li>
                <li>Account properties</li>
                <li>Influencers</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
        </div>

        <div class="footer__thirdColumn">
            <h1 class="footer__thirdColumn__title">Social</h1>
            <div class="footer__thirdColumn__icons">
                <img src="../../../assets/youtubeIcon.png" alt="youtubeIcon">
                <img src="../../../assets/facebookIcon.png" alt="facebookIcon">
                <img src="../../../assets/instagramIcon.png" alt="instagramIcon">
                <img src="../../../assets/tiktokIcon.png" alt="tiktokIcon">
            </div>
        </div>
    </div>
    <h1 class="c">InfluZone © 2024 / All right reserved</h1>
</div>