@media only screen and (min-width: 1200px) { 
    .cont {
        margin-top: 60px;
        flex-direction: column;
    
        .header {
            width: 1200px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
    
            .header__icon {
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
    
            .header__title {
                color: #118279;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.2px;
                cursor: pointer;
            }
        }
    
        .categories {
            margin-top: 60px;
            width: 1200px;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .categories__category {
                width: 260px;
                height: 61px;
                border-radius: 10px;
                background: #DC849C;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
    
                img {
                    width: auto;
                    height: 100%;
                }
    
                h1 {
                    margin-right: 38px;
                    color: #FFF;
                    text-align: center;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 1px;
                }
            }
        }
        
        .search {
            width: 1200px;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        
            .search__input {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1000px;
                height: 60px;
                border-radius: 10px;
                border: 0.7px solid #118279;
                background: #FFF;
        
                .search__input__icon {
                    width: 53px;
                    height: 53px;
                }
        
                .search__input__input {
                    padding-left: 5px;
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 10px;
                    color: #ACACAC;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: normal;
                    outline: none;
                }
            }
        
            .search__button {
                width: 200px;
                height: 60px;
                flex-shrink: 0;
                border-radius: 10px;
                background: #118279;
                color: #FFF;
                font-size: 25px;
                font-style: normal;
                font-weight: 200;
                line-height: normal;
                border: none;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 1200px) { 
    .cont {
        overflow-x: hidden;
        margin-top: 60px;
        flex-direction: column;
    
        .header {
            width: 600px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
    
            .header__icon {
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
    
            .header__title {
                color: #118279;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.2px;
                cursor: pointer;
            }
        }
    
        .categories {
            margin-top: 60px;
            width: 600px;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
    
            .categories__category {
                width: 260px;
                height: 61px;
                border-radius: 10px;
                background: #DC849C;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
    
                img {
                    width: auto;
                    height: 100%;
                }
    
                h1 {
                    margin-right: 38px;
                    color: #FFF;
                    text-align: center;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 1px;
                }
            }

        }
        
        .search {
            width: 600px;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        
            .search__input {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1000px;
                height: 60px;
                border-radius: 10px;
                border: 0.7px solid #118279;
                background: #FFF;
        
                .search__input__icon {
                    width: 53px;
                    height: 53px;
                }
        
                .search__input__input {
                    padding-left: 5px;
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 10px;
                    color: #ACACAC;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: normal;
                    outline: none;
                }
            }
        
            .search__button {
                width: 200px;
                height: 60px;
                flex-shrink: 0;
                border-radius: 10px;
                background: #118279;
                color: #FFF;
                font-size: 25px;
                font-style: normal;
                font-weight: 200;
                line-height: normal;
                border: none;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 600px) { 
    .cont {
        overflow-x: hidden;
        margin-top: 30px;
        flex-direction: column;
    
        .header {
            width: 300px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
    
            .header__icon {
                width: 32px;
                height: auto;
                cursor: pointer;
            }
    
            .header__title {
                color: #118279;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.2px;
                cursor: pointer;
            }
        }
    
        .categories {
            margin-top: 30px;
            width: 300px;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
    
            .categories__category {
                width: 260px;
                height: 61px;
                border-radius: 10px;
                background: #DC849C;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
    
                img {
                    width: auto;
                    height: 100%;
                }
    
                h1 {
                    margin-right: 38px;
                    color: #FFF;
                    text-align: center;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 1px;
                }
            }

        }
        
        .search {
            width: 300px;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        
            .search__input {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 220px;
                height: 40px;
                border-radius: 10px;
                border: 0.7px solid #118279;
                background: #FFF;
        
                .search__input__icon {
                    width: 32px;
                    height: auto;
                }
        
                .search__input__input {
                    padding-left: 5px;
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 10px;
                    color: #ACACAC;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: normal;
                    outline: none;
                }
            }
        
            .search__button {
                width: 80px;
                height: 40px;
                flex-shrink: 0;
                border-radius: 10px;
                background: #118279;
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 200;
                line-height: normal;
                border: none;
                cursor: pointer;
            }
        }
    }
}

