<app-user-header></app-user-header>
<div class="cont">
    <div class="notifications">
        <div class="notifications__title" routerLink="/home">
            <img class="notifications__title__image" src="../../../assets/arrow_left_alt.png" alt="">
            <h1 class="notifications__title__text">Notification</h1>
        </div>
        <div class="notification">
            <div class="notification__text">
                <h1 class="notification__text__title">Meeting Request for Advertisement Planning</h1>
                <h2 class="notification__text__company">Acme - Acme Corporation</h2>
                <p class="notification__text__text">We hope this message finds you well! We’d love to collaborate with you on our upcoming advertising campaign. Could we meet at Aqua Garden on 25th November to discuss the details and plan our strategy?</p>
            </div>
        </div>
        <div class="notification">
            <div class="notification__text">
                <h1 class="notification__text__title">Meeting Request for Advertisement Planning</h1>
                <h2 class="notification__text__company">Acme - Acme Corporation</h2>
                <p class="notification__text__text">We hope this message finds you well! We’d love to collaborate with you on our upcoming advertising campaign. Could we meet at Aqua Garden on 25th November to discuss the details and plan our strategy?</p>
            </div>
        </div>
        <div class="notification">
            <div class="notification__text">
                <h1 class="notification__text__title">Meeting Request for Advertisement Planning</h1>
                <h2 class="notification__text__company">Acme - Acme Corporation</h2>
                <p class="notification__text__text">We hope this message finds you well! We’d love to collaborate with you on our upcoming advertising campaign. Could we meet at Aqua Garden on 25th November to discuss the details and plan our strategy?</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>