<app-user-header></app-user-header>
<div class="cont">
    <div class="notifications">
        <div class="notifications__title" routerLink="/home">
            <img class="notifications__title__image" src="../../../assets/arrow_left_alt.png" alt="">
            <h1 class="notifications__title__text">Notification</h1>
        </div>
        <div class="notification">
            <div class="notification__text">
                <h1 class="notification__text__title">Welcome to Influzone</h1>
                <h2 class="notification__text__company">Influzone</h2>
                <p class="notification__text__text">Stay updated with our latest news! Here, you'll find important updates, announcements, and new information from us.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>