<app-home-page-header [showAuth]="false"></app-home-page-header>
<div class="cont">
    <div class="getStart">
        <div class="getStart__card">
            <div class="getStart__card__top">
                <img routerLink="/" class="getStart__card__img" src="../../../assets/logo.png" alt="">
                <h1 class="getStart__card__title">Get Started Now!</h1>
                <p class="getStart__card__text">Sign up now to connect with the perfect influencers for your brand</p>
            </div>
            <div class="getStart__card__sign">
                <div class="getStart__card__sign__group">
                    <img src="../../../assets/Influencer_icon.png" alt="">
                    <h2 class="getStart__card__sign__title">Sign up as an</h2>
                    <button class="getStart__card__sign__button" routerLink="/before-signup-influencer">Influencer</button>
                </div>
                <div class="getStart__card__sign__group">
                    <img src="../../../assets/Customer_icon.png" alt="">
                    <h2 class="getStart__card__sign__title">Sign up as a</h2>
                    <button class="getStart__card__sign__button" routerLink="/before-signup-company">Customer</button>
                </div>
            </div>
            <h1 class="getStart__card__acount">Already have an account?</h1>
            <button class="getStart__card__signin" routerLink="/signin">Sign in</button>
        </div>
    </div>
</div>