<div class="cont">
    <div class="customers">
        <div *ngIf="isHeaderVisible" class="customers__header">
            <h1 class="customers__header__title">{{title}}</h1>
            <div class="customers__header__seeAll" [routerLink]="headerRoute">
                <h2 class="customers__headerr__seeAll__text">See all</h2>
                <img class="customers__headerr__seeAll__icon" src="../../../assets/keyboard_return.png" alt="icon">
            </div>
        </div>

        <div class="customers__cards">
            <div class="customers__card">
                <img class="customers__card__image" src="../../../assets/customer_example.png" alt="">
                <h1 class="customers__card__title">K&H</h1>
                <p class="customers__card__description">Personalized fitness solutions with top equipment to help you reach your potential.</p>
                <div class="customers_card__social">
                    <div>
                        <img src="../../../assets/youtubeIcon.png" alt="youtubeIcon">
                    </div>
                    <div>
                        <img src="../../../assets/instagramIcon.png" alt="instagramIcon">
                    </div>
                    <div>
                        <img src="../../../assets/tiktokIcon.png" alt="tiktokIcon">
                    </div>
                </div>
                <button class="customers_card__button" [routerLink]="buttonRoute">Read more</button>
            </div>
            <div class="customers__card">
                <img class="customers__card__image" src="../../../assets/customer_example.png" alt="">
                <h1 class="customers__card__title">K&H</h1>
                <p class="customers__card__description">Personalized fitness solutions with top equipment to help you reach your potential.</p>
                <div class="customers_card__social">
                    <div>
                        <img src="../../../assets/youtubeIcon.png" alt="youtubeIcon">
                    </div>
                    <div>
                        <img src="../../../assets/instagramIcon.png" alt="instagramIcon">
                    </div>
                    <div>
                        <img src="../../../assets/tiktokIcon.png" alt="tiktokIcon">
                    </div>
                </div>
                <button class="customers_card__button" [routerLink]="buttonRoute">Read more</button>
            </div>
            <div class="customers__card">
                <img class="customers__card__image" src="../../../assets/customer_example.png" alt="">
                <h1 class="customers__card__title">K&H</h1>
                <p class="customers__card__description">Personalized fitness solutions with top equipment to help you reach your potential.</p>
                <div class="customers_card__social">
                    <div>
                        <img src="../../../assets/youtubeIcon.png" alt="youtubeIcon">
                    </div>
                    <div>
                        <img src="../../../assets/instagramIcon.png" alt="instagramIcon">
                    </div>
                    <div>
                        <img src="../../../assets/tiktokIcon.png" alt="tiktokIcon">
                    </div>
                </div>
                <button class="customers_card__button" [routerLink]="buttonRoute">Read more</button>
            </div>
            <div class="customers__card">
                <img class="customers__card__image" src="../../../assets/customer_example.png" alt="">
                <h1 class="customers__card__title">K&H</h1>
                <p class="customers__card__description">Personalized fitness solutions with top equipment to help you reach your potential.</p>
                <div class="customers_card__social">
                    <div>
                        <img src="../../../assets/youtubeIcon.png" alt="youtubeIcon">
                    </div>
                    <div>
                        <img src="../../../assets/instagramIcon.png" alt="instagramIcon">
                    </div>
                    <div>
                        <img src="../../../assets/tiktokIcon.png" alt="tiktokIcon">
                    </div>
                </div>
                <button class="customers_card__button" [routerLink]="buttonRoute">Read more</button>
            </div>
            <div class="customers__card">
                <img class="customers__card__image" src="../../../assets/customer_example.png" alt="">
                <h1 class="customers__card__title">K&H</h1>
                <p class="customers__card__description">Personalized fitness solutions with top equipment to help you reach your potential.</p>
                <div class="customers_card__social">
                    <div>
                        <img src="../../../assets/youtubeIcon.png" alt="youtubeIcon">
                    </div>
                    <div>
                        <img src="../../../assets/instagramIcon.png" alt="instagramIcon">
                    </div>
                    <div>
                        <img src="../../../assets/tiktokIcon.png" alt="tiktokIcon">
                    </div>
                </div>
                <button class="customers_card__button" [routerLink]="buttonRoute">Read more</button>
            </div>
            <div class="customers__card">
                <img class="customers__card__image" src="../../../assets/customer_example.png" alt="">
                <h1 class="customers__card__title">K&H</h1>
                <p class="customers__card__description">Personalized fitness solutions with top equipment to help you reach your potential.</p>
                <div class="customers_card__social">
                    <div>
                        <img src="../../../assets/youtubeIcon.png" alt="youtubeIcon">
                    </div>
                    <div>
                        <img src="../../../assets/instagramIcon.png" alt="instagramIcon">
                    </div>
                    <div>
                        <img src="../../../assets/tiktokIcon.png" alt="tiktokIcon">
                    </div>
                </div>
                <button class="customers_card__button" [routerLink]="buttonRoute">Read more</button>
            </div>
        </div>
    </div>
</div>