<app-home-page-header></app-home-page-header>
<div class="cont">
    <div class="signin">
        <div class="signin__card" *ngIf="cardChanger === 0">
            <h1 class="signin__card__title">Create your account</h1>
            <input class="signin__card__input" type="text" placeholder="Name">
            <input class="signin__card__input" type="text" placeholder="Surname">
            <input class="signin__card__input" type="text" placeholder="Email">
            <input class="signin__card__input" type="password" placeholder="Password">
            <input class="signin__card__input" type="password" placeholder="Confirm password">
            <div class="signin__card__checkbox">
                <input class="signin__card__checkbox__input" type="checkbox">
                <p class="signin__card__checkbox__text">I agree to terms and conditions</p>
            </div>
            <button class="signin__card__signup__button" onclick="cardChange(1)">Sign up</button>
            <button class="signin__card__cancel__button" routerLink="/">Cancel</button>
        </div>
        <div class="signin__back__button" routerLink="">
            <img class="signin__back__button__icon" src="../../../assets/arrow_left_alt.png" alt="arrow">
            <h1 class="signin__back__button__text">Back</h1>
        </div>
        <div class="signin__card" *ngIf="cardChanger === 1">
            <h1 class="signin__card__title">A verification code has been sent to your mail n***gmail.com</h1>
            <input class="signin__card__input" type="text" placeholder="A verification code">
            <button class="signin__card__signup__button">Sign up</button>
            <button class="signin__card__cancel__button">Cancel</button>
        </div>

        <div class="signin__card" *ngIf="cardChanger === 2">
            <img src="../../../assets/check.png" alt="check">
            <h1 class="signin__card__title">Congratulations!!! You have successfully created your profile</h1>
            <button class="signin__card__signup__button">Next</button>
        </div>
    </div>
</div>