<div class="cont">
    <div class="customerPageAbout">
        <div class="customerPageAbout__header">
            <img routerLink="/customers-page" src="../../../assets/arrow_left_alt.png" alt="">
            <h1 routerLink="/customers-page">K&H - Fitness brand</h1>
        </div>
        <div class="customerPageAbout__about">
            <img src="../../../assets/customer_example.png" alt="logo">
            <h1 class="customerPageAbout__about__title">K&H Fitness</h1>
            <div class="customerPageAbout_about__social">
                <div>
                    <img src="../../../assets/youtubeIcon.png" alt="youtubeIcon">
                </div>
                <div>
                    <img src="../../../assets/instagramIcon.png" alt="instagramIcon">
                </div>
                <div>
                    <img src="../../../assets/tiktokIcon.png" alt="tiktokIcon">
                </div>
            </div>
            <p class="customerPageAbout__about__description">At K&H Fitness, we believe that every individual deserves to reach their highest potential. Whether you're just starting your fitness journey or you're a seasoned athlete, we offer personalized fitness solutions, including state-of-the-art equipment and expert training. Our mission is to create a supportive environment where health, strength, and wellness come together.</p>
            <button class="customerPageAbout__about__button">Send a message</button>
        </div>
    </div>
</div>