<div class="cont">
    <div class="header">
        <img routerLink="/home" src="../../../assets/logo.png" alt="logo">
        <div class="header__icons">
            <img routerLink="/home" class="header__icons__icon" src="../../../assets/roofing.png" alt="">
            <img routerLink="/notifications" class="header__icons__icon" src="../../../assets/notifications.png" alt="">
            <div 
                class="header__profileImage" 
                (click)="toggleDropdown()">
            </div>
        </div>
        <div 
            class="dropdown" 
            *ngIf="isDropdownVisible">
            <ul>
                <li routerLink="/my-profile">
                    <h1>My profile</h1>
                    <mat-icon style="color: #000000; font-weight: normal;">person</mat-icon>
                </li>
                <li>
                    <h1 routerLink="/my-social">My Social</h1>
                    <mat-icon>rss_feed</mat-icon>
                </li>
                <li routerLink="/f.a.q">
                    <h1>F.A.Q</h1>
                    <mat-icon>help</mat-icon>
                </li>
                <li (click)='deleteAccessToken()' routerLink="">
                    <h1>Sign out</h1>
                    <mat-icon>logout</mat-icon>
                </li>
            </ul>
        </div>
    </div>
</div>
