<div class="cont">
    <div class="header">
        <img routerLink="" src="../../../assets/logo.png" alt="logo">
        <div class="header__icons">
            <img class="header__icons__icon" src="../../../assets/roofing.png" alt="">
            <img class="header__icons__icon" src="../../../assets/notifications.png" alt="">
            <img class="header__icons__icon" src="../../../assets/work.png" alt="">
        </div>
        <div class="header__profileImage">
        </div>
    </div>
</div>
