<div class="cont">
    <div class="feedback">
        <h1 class="feedback__title">Feedback</h1>
        <div class="feedback__cards">
            <div class="feedback__card">
                <img class="feedback__card__image" src="../../../assets/customer_example.png" alt="">
                <div class="feedback__card__text">
                    <h1 class="feedback__card__text__title">Sophia Wellness</h1>
                    <p class="feedback__card__text__description">Working with K&H Fitness has been an incredible experience. Their team is supportive, and the products are top-notch. My audience loved the collaboration!</p>
                </div>
            </div>
            <div class="feedback__card">
                <img class="feedback__card__image" src="../../../assets/customer_example.png" alt="">
                <div class="feedback__card__text">
                    <h1 class="feedback__card__text__title">Sophia Wellness</h1>
                    <p class="feedback__card__text__description">Working with K&H Fitness has been an incredible experience. Their team is supportive, and the products are top-notch. My audience loved the collaboration!</p>
                </div>
            </div>
            <div class="feedback__card">
                <img class="feedback__card__image" src="../../../assets/customer_example.png" alt="">
                <div class="feedback__card__text">
                    <h1 class="feedback__card__text__title">Sophia Wellness</h1>
                    <p class="feedback__card__text__description">Working with K&H Fitness has been an incredible experience. Their team is supportive, and the products are top-notch. My audience loved the collaboration!</p>
                </div>
            </div>
        </div>
    </div>
</div>