<app-home-page-header></app-home-page-header>
<div class="cont">

    <div class="banner__back" id="banner">
        <div class="banner">
            <img class="banner__image" src="../../../assets/bannerLeftSide.png" alt="image">
            <div>
                <h1 class="banner__title">Growth and <span>Success</span> Through Long-Term <span>Partnerships</span></h1>
                <p class="banner__text">Influencers can expand their reach and build a stronger online presence, while customers can develop and implement impactful marketing strategies that help grow their businesses over time. By leveraging these connections, both influencers and customers can achieve sustained success.</p>
            </div>
            <img class="banner__image" src="../../../assets/bannerRightSide.png" alt="image">
        </div>
    </div>

    
    <div class="user" id="forInfluencers">
        <div class="user__card">
            <div class="user__card__rate">
                <img class="user__card__rate__image" src="../../../assets/rate.png" alt="">
                <h1 class="user__card__rate__text">4.9</h1>
            </div>
            <img class="user__card__image" src="../../../assets/influencer.png" alt="image">
            <h1 class="user__card__title">Noah Thompson</h1>
            <p class="user__card__text">Travel YouTuber, capturing adventures in exotic locations, providing travel tips for travelers.</p>
        </div>
        <div class="user__text">
            <h1 class="user__text__title">For Influencers:</h1>
            <p class="user__text__text">Share your unique skills and talents with a diverse range of customers! On our platform, you can create a detailed profile showcasing your expertise across social media channels like Facebook, YouTube, Instagram, and TikTok. Fill out your services and offer tailored packages—whether low, medium, or premium—to attract clients who value your content and creativity. Get discovered, collaborate, and expand your reach!</p>
        </div>
    </div>

    <div class="user userReverce" id="forCustomers">
        <div class="user__card">
            <div class="user__card__rate">
                <img class="user__card__rate__image" src="../../../assets/rate.png" alt="">
                <h1 class="user__card__rate__text">4.9</h1>
            </div>
            <img class="user__card__image" src="../../../assets/influencer.png" alt="image">
            <h1 class="user__card__title">Fitzone</h1>
            <p class="user__card__text">Dynamic fitness classes and training in a supportive community.</p>
        </div>
        <div class="user__text">
            <h1 class="user__text__title">For Customers:</h1>
            <p class="user__text__text">Are you a business looking to promote your brand and connect with top influencers? Our platform allows you to discover influencers who align with your brand values and goals. Create a company profile, specify your needs, and find the right influencer for your marketing campaigns. Whether you're an individual entrepreneur or a larger company, you’ll find the perfect fit to help your business thrive.</p>
        </div>
    </div>
    
    <div class="howItsWorks" id="howItWorks">
        <h1 class="howItsWorks__title">How It Works:</h1>
        <div class="howItsWorks__columns">
            <div class="howItsWorks__column">
                <img src="../../../assets/registration.png" alt="">
                <div class="howItsWorks__column__card howItsWorks__column__card0">
                    <h1>Registration:</h1>
                    <p>Create an account with your name, email, and password and read terms and conditions</p>
                </div>
            </div>
            <div class="howItsWorks__column">
                <img src="../../../assets/verification.png" alt="">
                <div class="howItsWorks__column__card howItsWorks__column__card1">
                    <h1>Verification & Profile Setup:</h1>
                    <p>Complete your profile by filling out detailed information to ensure you're matched with the right influencers or clients.</p>
                </div>
            </div>
            <div class="howItsWorks__column">
                <img src="../../../assets/connect.png" alt="">
                <div class="howItsWorks__column__card howItsWorks__column__card2">
                    <h1>Connect and Collaborate:</h1>
                    <p>After verification, connect with influencers or customers.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="why" id="whyChooseInfluZone">
        <div class="why__first">
            <div class="why__first__left">
                <h1 class="why__first__left__title">Why Choose <span>InfluZone?</span></h1>
                <p class="why__first__left__text">Easy & Efficient: Our platform streamlines the entire process of finding the right influencers</p>
                <p class="why__first__left__text">Verified Connections: We ensure that both influencers and customers are verified, making your experience secure and trustworthy.</p>
            </div>
            <div class="why__first__right">
                <div class="why__first__right__influencers__cards">
                    <div class="why__first__right__influencers__card youtube">
                        <img class="why__first__right__influencers__card__icon" src="../../../assets/youtube.png" alt="">
                        <h1 class="why__first__right__influencers__card__title">Youtube</h1>
                        <div class="why__first__right__influencers__cards__users">
                            <img class="why__first__right__influencers__cards__users__icon" src="../../../assets/supervisor_account.png" alt="">
                            <h1 class="why__first__right__influencers__cards__users__count">1268</h1>
                        </div>
                    </div>
                    <div class="why__first__right__influencers__card tiktok" style="background: #212120;">
                        <img class="why__first__right__influencers__card__icon" src="../../../assets/tiktok.png" alt="">
                        <h1 class="why__first__right__influencers__card__title">Tik Tok</h1>
                        <div class="why__first__right__influencers__cards__users">
                            <img class="why__first__right__influencers__cards__users__icon" src="../../../assets/supervisor_account.png" alt="">
                            <h1 class="why__first__right__influencers__cards__users__count">3358</h1>
                        </div>
                    </div>
                    <div class="why__first__right__influencers__card insta" style="background: #D142C0;">
                        <img class="why__first__right__influencers__card__icon" src="../../../assets/instagram.png" alt="">
                        <h1 class="why__first__right__influencers__card__title">Instagram</h1>
                        <div class="why__first__right__influencers__cards__users">
                            <img class="why__first__right__influencers__cards__users__icon" src="../../../assets/supervisor_account.png" alt="">
                            <h1 class="why__first__right__influencers__cards__users__count">6478</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why__second">
            <div class="why__second__left">
                <div class="why__second__left__cards">
                    <div class="why__second__left__card">
                        <h1 class="why__second__left__card__title">Lower-Tier Service</h1>
                        <p class="why__second__left__card__text">Best for small business</p>
                        <div class="why__second__left__card__price">300$ per post</div>
                        <h2 class="why__second__left__card__features">Key Features:</h2>
                        <ul class="why__second__left__card__list">
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Instagram Feed Post: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Instagram Story: </h3>
                                <img src="../../../assets/check_box_false.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">YouTube Product Mention: </h3>
                                <img src="../../../assets/check_box_false.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Custom Call-to-Action: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Audience Engagement Report: </h3>
                                <img src="../../../assets/check_box_false.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Discount on Bulk Posts: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="why__second__left__card">
                        <h1 class="why__second__left__card__title" style="color: #D36E2B;">Medium-Tier Service</h1>
                        <p class="why__second__left__card__text">Best for mid-sized business</p>
                        <div class="why__second__left__card__price" style="background: #D36E2B;">600$ per Video</div>
                        <h2 class="why__second__left__card__features">Key Features:</h2>
                        <ul class="why__second__left__card__list">
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Instagram Feed Post: </h3>
                                <img src="../../../assets/check_box_false.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Instagram Story: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">YouTube Product Mention: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Custom Call-to-Action: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Audience Engagement Report: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Discount on Bulk Posts: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="why__second__left__card">
                        <h1 class="why__second__left__card__title" style="color: #7F1182;">Premium Service</h1>
                        <p class="why__second__left__card__text">Best for large companies</p>
                        <div class="why__second__left__card__price" style="background: #7F1182;">1200$ per Month</div>
                        <h2 class="why__second__left__card__features">Key Features:</h2>
                        <ul class="why__second__left__card__list">
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Instagram Feed Post: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Instagram Story: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">YouTube Product Mention: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Custom Call-to-Action: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Audience Engagement Report: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                            <li class="why__second__left__card__list__item">
                                <h3 class="why__second__left__list__item__card__title">Discount on Bulk Posts: </h3>
                                <img src="../../../assets/check_box_true.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="why__second">
                <p>
                    Tailored Solutions: Whether you're offeringservices as an influencer or searching for the right influencer to promote your brand, we provide tools to tailor packages and meet specific needs.
                </p>
                <p>
                    Fast & Direct Communication: The chat system allows for instant, direct messaging, helping you quickly clarify details and move forward with your collaborations.
                </p>
                <p>
                    Grow Together: We focus on long-term relationships and aim to help you build a sustainable, successful business with the right partnerships.
                </p>
            </div>
        </div>
        <div id="F.A.Q">
            <app-fuck></app-fuck>
        </div>
    </div>
</div>
<app-partners></app-partners>
<app-footer></app-footer>