<app-home-page-header></app-home-page-header>
<div class="cont">
    <div class="signin">
        <div class="signin__card">
            <h1 class="signin__card__title">Sign in your account</h1>
            <input class="signin__card__input" type="text" placeholder="Email">
            <input class="signin__card__input" type="password" placeholder="Password">
            <button class="signin__card__signup__button">Sign in</button>
            <button class="signin__card__cancel__button">Cancel</button>
        </div>
        <div class="signin__back__button" routerLink="">
            <img class="signin__back__button__icon" src="../../../assets/arrow_left_alt.png" alt="arrow">
            <h1 class="signin__back__button__text">Back</h1>
        </div>
    </div>
</div>