<app-home-page-header [showAuth]="false"></app-home-page-header>
<div class="cont">
    <div class="influencers">
        <div class="influencers__cards">
          <!-- First card -->
          <div 
            class="influencers__card" 
            (click)="resizeCard(0)" 
            [ngClass]="{'active': activeCard === 0}">
            <img class="influencers__card__icon" src="../../../assets/youtube.png" alt="">
            <h1 class="influencers__card__title">Youtube</h1>
          </div>
      
          <!-- Second card -->
          <div 
            class="influencers__card" 
            (click)="resizeCard(1)" 
            [ngClass]="{'active': activeCard === 1}" 
            style="background: #212120;">
            <img class="influencers__card__icon" src="../../../assets/tiktok.png" alt="">
            <h1 class="influencers__card__title">Tik Tok</h1>
          </div>
      
          <!-- Third card -->
          <div 
            class="influencers__card" 
            (click)="resizeCard(2)" 
            [ngClass]="{'active': activeCard === 2}" 
            style="background: #D142C0;">
            <img class="influencers__card__icon" src="../../../assets/instagram.png" alt="">
            <h1 class="influencers__card__title">Instagram</h1>
          </div>
        </div>
      </div>
      <div class="youtube" *ngIf="activeCard === 0">
        <div class="social__info">
          <div>
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <h1 class="social__info__title">Your youtube account:</h1>
                <p (click)="signIn()" class="social__info__add">Verify</p>
              </div>

              <div class="social__info__profile">
                <img class="social__info__profile__img" [src]="userChannelData?.snippet?.thumbnails?.default?.url" alt="">
                <div class="social__info__profile__text">
                  <h1 class="social__info__profile__text__nickname">{{userChannelData?.snippet?.title}}</h1>
                  <div class="social__info__profile__text__group">
                    <h1 class="social__info__profile__text__group__url">{{userChannelData?.snippet?.customUrl}} • </h1>
                    <h2 class="social__info__profile__text__group__subscribers">{{userChannelData?.statistics?.subscriberCount}} subscriber • </h2>
                    <h2 class="social__info__profile__text__group__videos">{{userChannelData?.statistics?.videoCount}} video</h2>
                  </div>
                  <p class="social__info__profile__text__description">{{userChannelData?.snippet?.description}}</p>
                </div>
              </div>
          </div>        
          <div class="social__content">
              <h1 class="social__info__title">Content</h1>
            
              <!-- Dropdown for selecting an option -->
              <select class="social__content__dropdown" [(ngModel)]="selectedItem" (change)="onSelect()">
                <option *ngFor="let item of availableItems" [value]="item">{{ item }}</option>
              </select>
              <!-- Unordered list to display selected items -->
              <ul class="social__content__list">
                <li *ngFor="let item of selectedItems" (click)="removeItem(item)">
                  {{ item }} ✖️
                </li>
              </ul>
          </div>          
          <div class="social__info__addingVideo">
              <h1 class="social__info__title">Top 3 your videos</h1>
              
              <!-- Input and button for adding videos -->
              <div class="social__info__addingVideo__add">
                <input class="social__info__addingVideo__add__input" type="text" [(ngModel)]="newVideo" />
                <button class="social__info__addingVideo__add__button" (click)="addVideo()">Add Video</button>
              </div>
              
              <!-- List of videos -->
              <ul class="social__info__addingVideo__list">
                <li *ngFor="let video of videos; let i = index">
                  <a [href]="video" target="_blank">{{ video }}</a>
                  <button (click)="removeVideo(i)">Remove</button> <!-- Remove button -->
                </li>
              </ul>
          </div>    
          <div>
            <h1>Image</h1>
            <div style="display: flex; gap: 20px;">
              <input type="checkbox">
              <p>Use profile picture from this social platform as main image</p>
            </div>
          </div>             
        </div>
      </div>
      <div class="tiktok" *ngIf="activeCard === 1">
        <h1>Comming soon ...</h1>
      </div>
      <div class="tiktok" *ngIf="activeCard === 2">
        <h1>Comming soon ...</h1>
      </div>
      <!-- <div class="social__info__services">
        <div class="social__info__services__header">
          <h1 class="social__info__services__header__title">Your services</h1>
        </div>
        <div class="social__info__services__group">
          <div class="social__info__services__group__first">
              <h1>Lower-Tier Service</h1>
              <p>Best for small business</p>
              <input type="text">
              <p>Key Features:</p>
          </div>
          <div class="social__info__services__group__second">
            <h1>Medium-Tier Service</h1>
            <p>Best for mid-sized business</p>
            <input type="text">
            <p>Key Features:</p>
          </div>
          <div class="social__info__services__group__third">
            <h1>Premium Service</h1>
            <p>Best for large companies</p>
            <input type="text">
            <p>Key Features:</p>
          </div>
        </div>
      </div> -->
      <div class="btns">
        <!-- <button class="btns__white">Cancel</button> -->
        <button class="btns__green" (click)="updateProfile()">Verify</button>
      </div>
</div>
<app-footer></app-footer>