<app-user-header></app-user-header>
<div class="cont">
    <div class="header" routerLink="/home">
        <img class="header__icon" src="../../../assets/arrow_left_alt.png" alt="">
        <h1 class="header__title">Influencers</h1>
    </div>

    <div class="influencers">
        <div class="influencers__cards">
            <div class="influencers__card" routerLink="/app-influencers-category-page">
                <img class="influencers__card__icon" src="../../../assets/youtube.png" alt="">
                <h1 class="influencers__card__title">Youtube</h1>
            </div>
            <div class="influencers__card" style="background: #212120;" routerLink="/app-influencers-category-page">
                <img class="influencers__card__icon" src="../../../assets/tiktok.png" alt="">
                <h1 class="influencers__card__title">Tik Tok</h1>
            </div>
            <div class="influencers__card" style="background: #D142C0;" routerLink="/app-influencers-category-page">
                <img class="influencers__card__icon" src="../../../assets/instagram.png" alt="">
                <h1 class="influencers__card__title">Instagram</h1>
            </div>
        </div>
    </div>

    <div class="search">
        <div class="search__input">
            <img class="search__input__icon" src="../../../assets/search.png" alt="">
            <input class="search__input__input" type="text" placeholder="Search">
        </div>
        <button class="search__button">Submit</button>
    </div>

</div>
<app-user-card [title]="'Customers'" [isHeaderVisible]="false" [headerRoute]="'/influencers-page'" [buttonRoute]="'/influencer-page'"></app-user-card>
<app-footer></app-footer>