<div class="cont">
    <div class="customers">
        <div class="customers__header">
            <h1 class="customers__header__title">Customers - Category</h1>
            <div class="customers__header__seeAll" routerLink="customers-category-page">
                <h2 class="customers__headerr__seeAll__text">See all</h2>
                <img class="customers__headerr__seeAll__icon" src="../../../assets/keyboard_return.png" alt="icon">
            </div>
        </div>
        <div class="customers__cards">
            <div class="customers__card">
                <img class="customers__card__icon" src="../../../assets/Fitness.png" alt="">
                <h1 class="customers__card__title">Fitness</h1>
                <div class="customers__cards__users">
                    <img class="customers__cards__users__icon" src="../../../assets/supervisor_account.png" alt="">
                    <h1 class="customers__cards__users__count">1268</h1>
                </div>
            </div>
            <div class="customers__card">
                <img class="customers__card__icon" src="../../../assets/Fitness.png" alt="">
                <h1 class="customers__card__title">Fitness</h1>
                <div class="customers__cards__users">
                    <img class="customers__cards__users__icon" src="../../../assets/supervisor_account.png" alt="">
                    <h1 class="customers__cards__users__count">1268</h1>
                </div>
            </div>
            <div class="customers__card">
                <img class="customers__card__icon" src="../../../assets/Fitness.png" alt="">
                <h1 class="customers__card__title">Fitness</h1>
                <div class="customers__cards__users">
                    <img class="customers__cards__users__icon" src="../../../assets/supervisor_account.png" alt="">
                    <h1 class="customers__cards__users__count">1268</h1>
                </div>
            </div>
            <div class="customers__card">
                <img class="customers__card__icon" src="../../../assets/Fitness.png" alt="">
                <h1 class="customers__card__title">Fitness</h1>
                <div class="customers__cards__users">
                    <img class="customers__cards__users__icon" src="../../../assets/supervisor_account.png" alt="">
                    <h1 class="customers__cards__users__count">1268</h1>
                </div>
            </div>
            
        </div>
    </div>
</div>